<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Easy Property Management for Landlords - Rentify</title>

  <meta name="viewport" content="width=device-width, initial-scale=0.9">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="/assets/application-54bdea2d94ac8a01f2a93d5d8b038551.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body class="homepage">
<header id="header">
  <a href="/" class="logo" title="Rentify: Back to the homepage"><img alt="Rentify logo" src="/assets/layout/logo-10c30be1bf247d3afe14204f0fe5224d.png" /></a>

  <ul class="jump-to">
    <li><a href="/#letting">Letting</a></li>
    <li><a href="/management">Management</a></li>
    <li><a href="/online-letting-agents?cms_path=s%2Ftenants">Tenants</a></li>
  </ul>

  <div class="login">
    <a href="/signup" class="sign-in btn btn-small btn-green" title="Sign up: If you don&#x27;t have an account, click here to get one">Sign up</a>
    <a href="/login" class="sign-in btn btn-small btn-yellow" title="Log In: If you&#x27;ve already got an account, click here to get into it">Log in</a>
  </div>
</header>
<div id="main" role="main">




<div class="crenellations">
  <div class="top"></div>
  <div class="content clearfix ">

    <header class="hero">
      <h1>
        A Landlord’s Best Friend
      </h1>
      <p>
        <strong>Rentify</strong> makes it simple to market, manage, and make money from your properties. Incredible tools. Unbeatable support. <strong>Sign up for a free account today.</strong>
      </p>
      <div class="actions">
        <a href="/advertise-property-free" id="free-advert-homepage-1" class="btn btn-large new-property btn-green">Create my free advert</a>or<a class='more' href="#letting">learn more</a>
      </div>
    </header>

  </div>
  <div class="bottom keep-down"></div>
</div>








</div>

<%= yield %>
<footer id="footer">
  <div class='contact-us'>
    <h3>Need help (or just like to talk)?</h3>
    <span class="row">Call us on <em>020 3322 1092</em></span>
    <span class="row">or email <a href="mailto:help@rentify.com">help@rentify.com</a></span>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://blog.rentify.com">Blog</a></li>
      <li><a href="/s/about">About Us</a></li>
      <li><a href="/s/jobs">Jobs</a></li>
      <li><a href="/s/faq">Frequently Asked Questions</a></li>
      <li><a href="/s/terms">Terms &amp; Conditions</a></li>
      <li><a href="/s/contact">Contact &amp; Support</a></li>
    </ul>
  </nav>
  <p class="copyright">
    Copyright © 2012 Rentify Ltd. All rights reserved.<br>
    Rentify is registered company no. 07723819. “Rentify” and the houses logo<br>
    are registered trademarks of Rentify Ltd. <a class="go-bananas" title="There's always money in the banana stand">Go bananas.</a><br>
  </p>
</footer>

</body>
</html>
